@use "../Colors";

.search-icon{
    color: Colors.$persian-green !important;
    background-color: #ffffff00 !important;
    
}
:hover.search-icon{
    color: Colors.$celeste !important;
    background-color: Colors.$persian-green !important;}

.serach-field{
    background-color: "none";
    margin-right: 0.14%;
    border-radius: 0.5vb;
    line-height: normal;
    width: MAX-content;
    height: 36px;
    color: Colors.$celeste !important;  
    text-align: right !important;  
    font-size: larger;
}


.serachbar-wrapper{
    background-color: Colors.$celeste-lowOp !important;
    color: Colors.$celeste !important;
    
}
:hover.serachbar-wrapper{
    background-color: Colors.$celeste !important;
    color: Colors.$persian-green !important;
}


.navbar-button{
    color: Colors.$celeste  !important;
    background-color: #ffffff00  !important;
    font-weight: bolder  !important;
    letter-spacing: 0.1rem  !important;
    // font-size: larger !important;
    // margin-right: 4vw !important;
    // padding-top: 1.5% !important;
    // padding-bottom: 1.5% !important;
}

:hover.navbar-button{
    background-color: Colors.$celeste !important;
    color: Colors.$persian-green  !important;

}
.MuiMenu-paper.MuiPaper-root{
    background-color: Colors.$celeste-light !important;
}

.menuItem-typo{
    font-size: larger !important;
    font-weight: bold !important;
    letter-spacing: 0.13rem !important;
}


:focus.search-input{
    --tw-ring-shadow: 0 0 #000 !important;
    --tw-ring-color: 0 0 #000 !important;
}
//TODO
//Menu Items hover and borders 