$celeste: #BAE8DBff;
$persian-green: #1BA291ff;
$blue-munsell: #008BA8ff;
$french-mauve: #BA66BBff;
$finn: #654479ff; 
$wisteria: #B193CFff;
$pink-lavender: #F7C1E3ff;

$celeste-lowOp: rgba(186, 232, 219, 0.438);
$celeste-light: rgb(250, 255, 254);
$french-mauve-lowOp: rgba(185, 102, 187, 0.122);