

*{
  box-sizing: border-box;
}

body {
  
  background: url('../../Static/lolo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: cover;

  min-width: none;
  display: grid;
  font-weight: 400;
  font-family:'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  
}


.App{
  @import "../../../node_modules/bootstrap/scss/bootstrap";
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  
}



.auth-wrapper {
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;

}


.auth-inner {
  width: 90%; 
   max-width: 385px; 
   margin: auto; 
  
     background: transparent;
   background: rgba(186, 232, 219, 0.6); 
   
   /* backdrop-filter: blur(3px); */
   
   
    border: 0.15rem solid rgba(255,255,255,0.5);   
   box-shadow: 0px 14px 80px rgba(340 , 350, 558, 0.52); 
  padding: 2.5rem 3.125rem 2.8125rem 3.4375rem; 
  border-radius: 2.5rem;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
   -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;  
}

.auth-wrapper .form-control:focus {
  border-color : #008BA8ff;
  border-width: 0.15rem;
  box-shadow: none;
}

.auth-wrapper .form-control{
  flex-direction: column;
  border-radius: 0.75rem;
  vertical-align: middle;

}

.auth-wrapper h3 {
  text-align: center;
  margin-bottom: -5%;
  line-height: 1;
  padding-bottom: 10%;
  margin-top: -6%;
}

.popup {
  position: relative;
  display: inline-block;
  

}
.popup a{
  color: red;
  margin-left:130%;
}

.popup-content {
  border-radius: 9%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:  rgba(186, 232, 219, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  border-color: black;
  
}

.popup:hover .popup-content {
  display: block;
  
}

input[type="text"],
select{
  margin-top: -1%;
  margin-bottom: 1%;
}

input[type="email"],
select{
  margin-bottom: 3%;
}

 input[type="password"],
select{
  margin-bottom: 3%;
  
}


.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding-top: 2%;
  color: #0a0a0a;
  margin: 0;
  font-weight: 500;
  }
.forgot-password a {
  color: #008BA8ff;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.forgot-password a:hover {
  color:rgb(33, 98, 88) ;
  font-weight: 1000;
}

.mb-3 ion-icon{
  color: #008BA8ff;
  opacity: 1000;
  font-size: 1.25rem;
  position: relative;
  top: 0.1rem;
}
.mb-2 ion-icon{
  color:#008BA8ff;
  opacity: 1000;
  font-size: 1.25rem;
  position: relative;
  top: 0.1rem;
}
.mb-1 ion-icon{
  color:#008BA8ff;
  opacity: 1000;
  font-size: 1.25rem;
  position: relative;
  top: 0.23rem;
}


.d-grid button{
  
  margin:1 rem 0.125rem;
  padding: 0.6rem;
  background-color: #1BA291ff;
  color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  border: 0;
}
.d-grid button:disabled,
button[disabled]{
  background-color: #1BA291ff;
  opacity: 0.5;
}

.d-grid button:hover{
  background-color:rgb(35, 97, 97) ;
  opacity: 1;
}

.d-grid button::after{
  background-color:#1BA291ff ;
  opacity: 1;
}
.error {
  color: red;

  padding-top: 1%;
  font-size: 70%;

}
.toast-message {
  background: transparent;
  background-color: rgba(243, 247, 246, 0.6);
  backdrop-filter: blur(3px);
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  position: fixed;

  /* top: -120px;
  right: -140px;
  width: 140%;
   */


} 
